<h1>비밀번호 찾기 페이지 입니다.</h1>
<h3>이메일 주소를 입력해 주세요.</h3>
<form action="/send_new_password_email" method="post">
  <p>
    <label>email address</label>
    <input type="text" name="email_recv">
  </p>
  <input type="submit" value="전송">
</form>

